body {
  font-family: sans-serif;
  background-color: #999;
  font-family: Avenir;
}

h1 {
  color: #222;
  text-align: center;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
}

.keyboard-letter {
  font-size: 16px;
  background-color: #444;
  color: #ddd;
  display: inline-block;
  text-align: center;
  width: 40px;
  border-radius: 8px;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.keyboard-letter:hover {
  background-color: #333;
}

.enter.keyboard-letter,
.keyboard-letter.delete {
  width: 70px;
}

.game {
  margin: 2rem auto;
  background-color: #666;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  max-width: 300px;
}

.game-letter {
  background-color: #222;
  border-radius: 8px;
  aspect-ratio: 1;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 24px;
  color: #ddd;
  font-weight: 700;
}

.game-letter:hover {
  background-color: #333;
}

.game-letter.selected {
  background-color: #999;
}

.game-letter.correct,
.keyboard-letter.correct {
  background-color: rgb(50, 88, 50);
}
.game-letter.incorrect,
.keyboard-letter.incorrect {
  background-color: rgb(124, 79, 79);
}

.keyboard-letter.incorrect {
  user-select: none;
  cursor: default;
}
